---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/sections/Hero.astro';
import WelcomeGrid from '../components/sections/WelcomeGrid.astro';
import About from '../components/sections/About.astro';
import RoomsGrid from '../components/sections/RoomsGrid.astro';
import ContactForm from '../components/sections/ContactForm.astro';

import Dining from '../components/sections/Dining.astro';
import Reviews from '../components/sections/Reviews.astro';
import NewsPreview from '../components/sections/NewsPreview.astro';

---


<MainLayout>
  <main>
    <Hero />
    <WelcomeGrid />
    <About />
    <RoomsGrid />
    <Dining />
    <Reviews />
    <NewsPreview />
    <ContactForm /> </main>
    
</MainLayout>